{% extends 'app/base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/sonota.css' %}">

<ol id="ol">
  <div id='mokujione'>  
    <li><span class="yellow_background">{{mokujione}}</span></li>
    
  </div>
  <div id='mokujitwo'>  
    <li><span class="yellow_background">{{mokujitwo}}</span></li>
  </div>
  <div id='mokujithree'>  
    <li><span class="yellow_background">{{mokujithree}}</span></li>
  </div>
<!--
    <li>{{mokujifour}}</li>
    <li>{{mokujifive}}</li>
    <li>{{mokujisix}}</li>
    <li>{{mokujiseven}}</li>
    <li>{{mokujieight}}</li>
    <li>{{mokujinine}}</li>
    <li>{{mokujiten}}</li>
    <li>{{mokujieleven}}</li>
    <li>{{mokujitwelve}}</li>
-->
  </ol>
{% endblock %}